/* styles.css */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    height: 100vh;
    width: 100%;
    background-color: rgb(110, 176, 233);
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    height: 15%;
    width: 98%;
    color: black;
    background-color: dimgrey;
    border: solid 1px lightgray;
    margin-bottom: 10%;
    margin-top: 5%;
    text-align: end;
    font-size: 60px;
    font-weight: bold;
}

.calculator{
    height: 75%;
    width: 22%;
    background: linear-gradient(silver, black);
    padding: 3% 1% 2% 1%;
    border-radius: 8px;
    
}

button{
    width: 75px;
    height: 70px;
    border-radius: 50px;
    border: none;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

.zero{
    width: 150px;
    margin-right: 6px;
    background-color: black;
    color: whitesmoke;
}

.operator{
    background-color: goldenrod;
    color: whitesmoke;
}

.gray{
    background-color: grey;
    color: rgba(6, 67, 137, 0.944);
}

.no{
    background-color: black;
    color: whitesmoke;
}



button :hover{
    background-color: khaki;
    color: black;
}





/* 

eight: 60px;
    width: 200px;
    margin-left: 25px;
    border-radius: 15px; */